
.social-menu {
	display: flex;
	list-style-type: none;
}
 
.social-menu i {
	color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	font-size: 25px;
	margin-right: 10px;
	transition: all 0.2s ease-in-out;
	display: flex;
	justify-content: center;
}

.social-menu i:before {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.social-menu a {
	text-decoration: none;
}

.fa-facebook {
	background:#3b5998
} 

.fa-linkedin {
	background:#007bb6
}

.fa-twitter {
	background:#00aced
}

.fa-instagram {
	background:#3f729b
}

.fa-youtube {
	background:#c4302b
}

.social-menu i:hover {
	opacity: .7;
	border-radius: 0;
}
table{
	display: grid;
	place-content: center;
	text-align: center;
	padding: 15px;
	text-align: left;
}
/*.enlacebutton {    font-family: verdana, arial, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	padding: 4px;
	background-color: #ffffcc;
	color: #666666;
	text-decoration: none;
 }
 .enlacebutton:link,
 .enlacebutton:visited {
	border-top: 1px solid #cccccc;
	border-bottom: 2px solid #666666;
	border-left: 1px solid #cccccc;
	border-right: 2px solid #666666;
 }
 .enlacebutton:hover {
	border-bottom: 1px solid #cccccc;
	border-top: 2px solid #666666;
	border-right: 1px solid #cccccc;
	border-left: 2px solid #666666;
	text-align: center;
 }*/
 /*.enlacebutton {
	padding: 0 16px;
	border-radius: 2px;
	background-color: #018786;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
	  0 2px 2px 0 rgba(0, 0, 0, 0.14),
	  0 1px 5px 0 rgba(0, 0, 0, 0.12);
	color: #fff;
	transition: background-color 15ms linear,
	  box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  
	height: 36px;
	line-height: 2.25rem;
	font-family: Roboto, sans-serif;
	font-size: 0.875rem;
	font-weight: 500;
	letter-spacing: 0.06em;
	text-transform: uppercase;
  }
  
  .enlacebutton:hover, .enlacebutton:focus {
	box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
	  0 4px 5px 0 rgba(0, 0, 0, 0.14),
	  0 1px 10px 0 rgba(0, 0, 0, 0.12);
	background-color: #159090;
  }
  
  .enlacebutton:active {
	box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
	  0 8px 10px 1px rgba(0, 0, 0, 0.14),
	  0 3px 14px 2px rgba(0, 0, 0, 0.12);
	background-color: #61b4b3;
  }*/
  .enlacebutton {
	padding: .375rem .75rem;
	border-radius: .25rem;
	background-color: #007bff;
	color: #fff;
	transition: background-color .15s ease-in-out;
  }
  
  .enlacebutton:hover, .enlacebutton:focus {
	background-color: #0069d9;
  }
  
  .enlacebutton:active {
	background-color: #0062cc;
  }
/*----------------------------------------------------------------------*/

  .pepito {
	padding: .375rem .75rem;
	border-radius: .25rem;
	background-color: #066943;
	color: #fff;
	transition: background-color .15s ease-in-out;
  }
  
  .pepito:hover, .pepito:focus {
	background-color: #0b6b46;
  }
  
  .pepito:active {
	background-color: #126b49;
  }
/*--------------------*/
#textoSobreMi{
	text-align: center;
	text-transform: capitalize;
}
#form formuEditar{
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#form formContacto{
	align-items: center;
}
