
.social-menu {
	display: flex;
	list-style-type: none;
}
 
.social-menu i {
	color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	font-size: 25px;
	margin-right: 10px;
	transition: all 0.2s ease-in-out;
	display: flex;
	justify-content: center;
}

.social-menu i:before {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.social-menu a {
	text-decoration: none;
}

.fa-facebook {
	background:#3b5998
} 

.fa-linkedin {
	background:#007bb6
}

.fa-twitter {
	background:#00aced
}

.fa-instagram {
	background:#3f729b
}

.fa-youtube {
	background:#c4302b
}

.social-menu i:hover {
	opacity: .7;
	border-radius: 0;
}
table{
	display: grid;
	place-content: center;
	text-align: center;
	padding: 15px;
	text-align: left;
}
  .enlacebutton {
	padding: .375rem .75rem;
	border-radius: .25rem;
	background-color: #007bff;
	color: #fff;
	transition: background-color .15s ease-in-out;
  }
  
  .enlacebutton:hover, .enlacebutton:focus {
	background-color: #0069d9;
  }
  
  .enlacebutton:active {
	background-color: #0062cc;
  }
/*----------------------------------------------------------------------*/

  .pepito {
	padding: .375rem .75rem;
	border-radius: .25rem;
	background-color: #066943;
	color: #fff;
	transition: background-color .15s ease-in-out;
  }
  
  .pepito:hover, .pepito:focus {
	background-color: #0b6b46;
  }
  
  .pepito:active {
	background-color: #126b49;
  }
/*--------------------*/
#textoSobreMi{
	text-align: center;
	text-transform: capitalize;
}
div{
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.tablaVer{
	align-content: center;
	align-items: center;
}
h1{
	text-align: center;
}
#BotonAtras{
	justify-content: center;
	font-weight: bold;
	cursor: pointer;
	padding: 5px;
	margin: 0 10px 20px 0;
	border: 1px solid #ccc;
	background: #077973;
	border-radius: 8px 8px 8px 8px;

}
#BotonAtras:hover {
		background: #ddd;
	}
   
#imagenPequena{
	width:120px ;
	height:170px;
}
p[class=BotonAtras],select{
	justify-content: center;
	text-align: center;
}